@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout2.cshtml";
}

<body>
    <br />
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <h5 class="header-title">Kategori Listesi</h5>
                    <table id="datatable" class="table table-bordered table-hover" style="margin-top:20px;">
                        <thead>
                            <tr class="table-active">
                                <th>ID</th>
                                <th>Kategori Adı</th>
                                <th width="15%" class="text-center">Güncelle</th>
                                <th width="15%" class="text-center">Sil</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.KategoriId</td>
                                <td>@item.KategoriAd</td>
                                <td width="15%" align="center"><a href="/Kategori/KategoriGetir/@item.KategoriId" class="btn btn-warning">Güncelle</a></td>
                                <td width="15%" align="center"><a href="/Kategori/KategoriSil/@item.KategoriId" class="btn btn-danger">Sil</a></td>
                            </tr>
                        }
                    </table>

                    <a href="KategoriEkle" class="btn btn-primary">Kategori Ekle</a>
                </div>
            </div>
        </div>
    </div>
</body>
