
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout2.cshtml";
}

<h2>Index</h2>



<button id="btn1" class="btn btn-primary">Buton 1</button>
<button id="btn2" class="btn btn-success">Buton 2</button>
<button id="btn3" class="btn btn-info">Buton 3</button>
<button id="btn4" class="btn btn-danger">Buton 4</button>
<button id="btn5" class="btn btn-warning">Buton 5</button>




<script src="~/Scripts/jquery-3.6.0.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    $('#btn1').click(function () {
        swal("Hello World!");
    })
</script>

<script>
    $('#btn2').click(function () {
        swal("Hello World!","And heres the text");
    })
</script>

<script>
    $('#btn3').click(function () {
        swal("Hello World!", "And heres the text", "success");
    })
</script>

<script>
    $('#btn4').click(function () {
        swal("Click on either the button or outside the modal.")
            .then((value) => {
                swal(`The returned value is: ${value}`);
            });
    })
</script>

<script>
    $('#btn5').click(function () {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this imaginary file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("Poof! Your imaginary file has been deleted!", {
                        icon: "success",
                    });
                } else {
                    swal("Your imaginary file is safe!");
                }
            });
    })
</script>