
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout2.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Deneme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="../plugins/jvectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet">
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/jquery-ui.min.css" rel="stylesheet">
    <link href="../assets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <link href="../plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="../plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="../plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="page-wrapper">
        <!-- Page Content-->
        <div class="page-content">
            <div class="container-fluid">            
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="card">
                            <div class="card-body table-responsive">
                                <h5 class="header-title">Kullanıcı Listesi</h5>
                                    <table id="example" class="table dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>Eylem</th>
                                                <th>Ad Soyad</th>
                                                <th>TC Kimlik</th>
                                                <th>Telefon</th>
                                                <th>Kurum Ad</th>
                                                <th>Kurum Ad</th>
                                                <th>Kurum Ad</th>
                                            </tr>
                                        </thead>


                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>armut</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>armut</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>armutt</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>artmutt</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>armuttt</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>arcut</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>elma</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>ayva</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>ayva</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>üzüm</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>üzüm</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>üzümlü</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>üzümlü</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>üzümlü kek</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>fen</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>fen</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>fener</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>feren</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>fener</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>fen</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>fen</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>fen</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                                <td>asdasdasda</td>
                                            </tr>

                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div><!--end row-->
                <!-- end page content -->
            </div>
            <!-- end page-wrapper -->
            <!-- jQuery  -->
            <script src="~/assets/js/jquery.min.js"></script>
            <script src="~/assets/js/jquery-ui.min.js"></script>

            <script src="~/assets/js/metismenu.min.js"></script>
            <script src="~/assets/js/waves.js"></script>
            <script src="~/assets/js/feather.min.js"></script>
            <script src="~/assets/js/jquery.slimscroll.min.js"></script>
            <script src="~/assets/js/bootstrap.bundle.min.js"></script>
            <!-- App js -->
            <script src="~/assets/js/app.js"></script>

            <!-- Required datatable js -->
            <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
            <script src="~/plugins/datatables/dataTables.bootstrap4.min.js"></script>

            <!-- Buttons examples -->
            <script src="~/plugins/datatables/dataTables.buttons.min.js"></script>
            <script src="~/plugins/datatables/buttons.bootstrap4.min.js"></script>
            <script src="~/plugins/datatables/jszip.min.js"></script>
            <script src="~/plugins/datatables/pdfmake.min.js"></script>
            <script src="~/plugins/datatables/vfs_fonts.js"></script>
            <script src="~/plugins/datatables/buttons.html5.min.js"></script>
            <script src="~/plugins/datatables/buttons.print.min.js"></script>
            <script src="~/plugins/datatables/buttons.colVis.min.js"></script>

            <!-- Responsive examples -->
            <script src="~/plugins/datatables/dataTables.responsive.min.js"></script>
            <script src="~/plugins/datatables/responsive.bootstrap4.min.js"></script>
            <script src="~/assets/pages/jquery.datatable.init.js"></script>
            <script src="~/plugins/flot-chart/jquery.canvaswrapper.js"></script>
            <script src="~/plugins/datatables/vfs_fonts.js"></script>

        </div>
    </div>
</body>

</html>
<script type="text/javascript" class="init">
    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        $('#example thead tr').clone(true).appendTo('#example thead');
        $('#example thead tr:eq(1) th').each(function (i) {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder=" ' + title + ' Ara " />');

            $('input', this).on('keyup change', function () {
                if (table.column(i).search() !== this.value) {
                    table
                        .column(i)
                        .search(this.value)
                        .draw();
                }
            });
        });

        var table = $('#example').DataTable({
            orderCellsTop: true,
            fixedHeader: true
        });
    });
</script>
